java-ws-up-and-running-2/jwsur2Ch5/ch5/mtom/src/mtom.xsd

<?xml version="1.0" encoding="UTF-8"?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.1.6. -->
<xs:schema xmlns:tns="http://images/" xmlns:xs="http://www.w3.org/2001/XMLSchema" 
	   version="1.0" targetNamespace="http://images/">
  <xs:element name="getImage" type="tns:getImage"></xs:element>
  <xs:element name="getImageResponse" type="tns:getImageResponse"></xs:element>
  <xs:element name="getImages" type="tns:getImages"></xs:element>
  <xs:element name="getImagesResponse" type="tns:getImagesResponse"></xs:element>
  
  <xs:complexType name="getImages">
    <xs:sequence></xs:sequence>
  </xs:complexType>
  
<xs:complexType name="getImagesResponse">
  <xs:sequence>
    <xs:element name="return" type="xs:base64Binary" minOccurs="0" maxOccurs="unbounded"
                xmime:expectedContentTypes="application/octet-stream"
                xmlns:xmime="http://www.w3.org/2005/05/xmlmime">
    </xs:element>
  </xs:sequence>
</xs:complexType>

<xs:complexType name="getImage">
  <xs:sequence>
    <xs:element name="arg0" type="xs:string" minOccurs="0"></xs:element>
  </xs:sequence>
</xs:complexType>

<xs:complexType name="getImageResponse">
  <xs:sequence>
    <xs:element name="return" type="xs:base64Binary" minOccurs="0"
                xmime:expectedContentTypes="application/octet-stream"
                xmlns:xmime="http://www.w3.org/2005/05/xmlmime">
    </xs:element>
  </xs:sequence>
</xs:complexType>
</xs:schema>
