java-ws-up-and-running-2/jwsur2Ch5/ch5/mtom/src/mtom.wsdl

<?xml version="1.0" encoding="UTF-8"?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.1.6. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.1.6. --><definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://images/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://images/" name="SkiImageServiceService">
<types>
  <xsd:schema xmlns:tns="http://images/" xmlns:xs="http://www.w3.org/2001/XMLSchema" 
	    version="1.0" targetNamespace="http://images/">
    <xsd:element name="getImage" type="tns:getImage"></xsd:element>
    <xsd:element name="getImageResponse" type="tns:getImageResponse"></xsd:element>
    <xsd:element name="getImages" type="tns:getImages"></xsd:element>
  <xsd:element name="getImagesResponse" type="tns:getImagesResponse"></xsd:element>
  
  <xsd:complexType name="getImages">
    <xsd:sequence></xsd:sequence>
  </xsd:complexType>
  
  <xsd:complexType name="getImagesResponse">
    <xsd:sequence>
      <xsd:element name="return" type="xsd:base64Binary" minOccurs="0" maxOccurs="unbounded"
                   xmime:expectedContentTypes="application/octet-stream"
                   xmlns:xmime="http://www.w3.org/2005/05/xmlmime">
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  
  <xsd:complexType name="getImage">
    <xsd:sequence>
      <xsd:element name="arg0" type="xsd:string" minOccurs="0"></xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  
  <xsd:complexType name="getImageResponse">
    <xsd:sequence>
      <xsd:element name="return" type="xsd:base64Binary" minOccurs="0"
                   xmime:expectedContentTypes="application/octet-stream"
                   xmlns:xmime="http://www.w3.org/2005/05/xmlmime">
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  </xsd:schema>
</types>
<message name="getImage">
  <part name="parameters" element="tns:getImage"></part>
</message>
<message name="getImageResponse">
<part name="parameters" element="tns:getImageResponse"></part>
</message>
<message name="getImages">
<part name="parameters" element="tns:getImages"></part>
</message>
<message name="getImagesResponse">
<part name="parameters" element="tns:getImagesResponse"></part>
</message>
<portType name="SkiImageService">
<operation name="getImage">
<input message="tns:getImage"></input>
<output message="tns:getImageResponse"></output>
</operation>
<operation name="getImages">
<input message="tns:getImages"></input>
<output message="tns:getImagesResponse"></output>
</operation>
</portType>
<binding name="SkiImageServicePortBinding" type="tns:SkiImageService">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"></soap:binding>
<operation name="getImage">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="getImages">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
</binding>
<service name="SkiImageServiceService">
<port name="SkiImageServicePort" binding="tns:SkiImageServicePortBinding">
<soap:address location="http://localhost:9876/ski"></soap:address>
</port>
</service>
</definitions>
